body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container{
    width: 80% ;
    margin: auto;

}

.container header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.brand
{
    align-self: center;
    font-weight: 900;
}
nav ul li{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav ul li a{
    margin-left: 20px;
    text-decoration: none;
    padding: 10px 20px;
    color: black;
}
nav ul li a:hover{
    color: rgb(255, 99, 37);
    background: rgb(230, 235, 240);
    
}
.herosection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding-top: 15vh;
}
.title-text-btn{    
    color: #ffa411;
    flex: 1
}

.hero-img{

    flex: 1;
}

.hero-img img{
    width: 100%;
    border-radius: 20px;
}
button{
    padding: 15px 30px;
    background: rgb(255, 99, 37);
    color: rgb(230, 235, 240);
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    transition: .2s all;
}
button:hover{
    color: rgb(255, 99, 37);
    background: rgb(230, 235, 240);
    border: 1px dashed black;
}


.overlay{
    background-image: url("IMG20221031152537-1024x768.jpg");
    opacity: 0.5;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}